@page "/coffee"
@inject HttpClient Http

<PageTitle>Coffee</PageTitle>

<h1>Coffee</h1>

<p>This component demonstrates fetching data from the sample api.</p>

@if (coffees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coffee in coffees)
            {
                <tr>
                    <td>@coffee.Id</td>
                    <td>@coffee.Title</td>
                    <td>@coffee.Description</td>
                    <td>
                        <ul>
                            @foreach (var ingredient in @coffee.Ingredients)
                            {
                                <li>@ingredient</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <img src="@coffee.Image" width="120" height="120" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CoffeeInfo[]? coffees;

    protected override async Task OnInitializedAsync()
    {
        coffees = await Http.GetFromJsonAsync<CoffeeInfo[]>("https://api.sampleapis.com/coffee/hot");
    }

    public class CoffeeInfo
    {
        public int Id { get; set; }
        public string Title { get; set; } = string.Empty;
        public string Description { get; set; } = string.Empty;
        public string[] Ingredients { get; set; } = [];
        public string Image { get; set; } = string.Empty;
    }
}
